@import './buttons';
@import './colors';
@import './reset';
@import './text';
  nav{
      box-shadow: 0px 0.6px;
      ul.navbar-nav{
        display: flex;
        gap: 3vw;
        padding-left: 12vw;
        align-self: center;
        a.nav-link{
            color: $btn1 !important;
            font-weight: 600;
        }
      }
    }  
    
    // .nav-item .dropdown{
        
    // }
    .firstSection{

        h1{
            padding-top: 10vh;
            color: $text;
            text-align: center;
            font-weight: 400;
        }
        h5{
            padding-top: 3vh;
            color: $text2;
            text-align: center;
            

        }
    }
