@import "./buttons";
@import "./colors";
@import "./reset";
@import "./text";
nav {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    background-color: $bg !important;
    ul.navbar-nav {
        display: flex;
        gap: 3vw;
        padding-left: 10vw;
        align-self: center;
        a.nav-link {
            color: $btn1 !important;
            font-weight: 700;
            &:hover {
                color: $btn2 !important;
                border-bottom: 2px solid $btn2;
            }
        }
    }
}

// .nav-item .dropdown{

// }
.firstSection {
    text-align: center;
    h1 {
        padding-top: 10vh;
        color: $text;
        text-align: center;
        font-weight: 600;
        // padding: 78px 447px;
        // padding-bottom: 0px;

        &:hover {
            color: aquamarine;
        }
    }
    h5 {
        padding-top: 3vh;
        color: $text2;
        text-align: center;
        font-size: 18px;
    }
    .button1 {
        text-align: center;

        padding-top: 15vh;

        a:first-child {
            text-decoration: none;
            background-color: $btn1;
            padding: 10px 30px;
            color: $bg;
            border-radius: 5px;
            margin-right: 5vw;
        }
        a:last-child {
            text-decoration: none;
            background-color: $btn2;
            border-radius: 5px;
            color: $bg;
            padding: 10px 40px;
        }
    }
    h2 {
        padding-top: 10vh;
        color: $btn1;
    }
    p {
        color: $smalltext;
    }
    @media screen and (max-width:310px) {
       .button1{
display: grid;
        }
        
    }
    
}
.sectionThree {
    background-color: $btn2;
    text-align: center;
    color: $btn1;
    padding-top: 5vh;
    // height: 20vh;
    p {
        font-size: xx-large;
        font-weight: 500;
    }
    h6 {
        font-size: small;
    }
}
.sectionFour {
    text-align: center;
    background-color: $btn1;
    padding-bottom: 10vh;
    img {
        margin: 5vh 5vh;
        background-color: $btn2;
        border-radius: 50px;
        padding: 10px;
    }
    .card {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 14px;

        p {
            color: $btn1;
        }
        h5 {
            color: $btn1;
        }
    }
}
.sectionFive {
    text-align: center;
    padding-bottom: 10vh;

    form{

        button{
            background: blue;
            border-radius: 10px;
            padding: 10px;
        }
    }
    h5 {
        font-size: 30px;
        padding-top: 10vh;
        color: $text;
    }
    p {
        // align-items: center;
        // width: 250px;
        display: inline;
        color: $newL;
        font-size: small;
    }
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
      text-align: center;
    // padding: 2px 16px;
    background-color: white;
    color: $btn1;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
}
footer {
    padding-top: 10vh;
    text-align: center;
    background-color: $btn1;
    color: $bg;
    padding-bottom: 10vh;

    img{
        padding-bottom: 10vh;
    }

    li {
        list-style: none;
    }
}
@media screen and (max-width:480px) {
    .dn{
        display: none;
    }
            }